---
const {frontmatter} = Astro.props;
import Layout from "../../layouts/Layout.astro";
import Navbar from "../common/Navbar.astro"
import ContactForm from "../common/Contact.astro"
import { Image } from "astro:assets";
import img1 from "../../../assets/images/Services/Big Data Architecture/img1.svg";
import img2 from "../../../assets/images/Services/Big Data Architecture/img2.svg";
import img3 from "../../../assets/images/Services/Big Data Architecture/img3.svg";
import setting from "../../../assets/images/Services/Big Data Architecture/setting.svg";
import clock from "../../../assets/images/Services/Big Data Architecture/clock.svg";
import lock from "../../../assets/images/Services/Big Data Architecture/lock.svg";
import cloud from "../../../assets/images/Services/Big Data Architecture/cloud.svg";
import euro from "../../../assets/images/Services/Big Data Architecture/euro.svg";
import cycle from "../../../assets/images/Services/Big Data Architecture/cycle.svg";
import location from "../../../assets/images/Services/Big Data Architecture/location.svg";

import VideoLayout from "../../layouts/Video_Layout.astro";
import bg_video from "../../../assets/videos/dbo_bg_video10.mp4"



const benefits = [{src:img1, heading:"Code First", text:"We follow Data Pipelines are code, which means they are versioned and have tests. The pipeline as code model creates automated processes that drives  efficiently"},
                  {src:img2, heading:"Data Governance", text:"We place Data Governance is at core of the system architecture. Data security and compliance are designed as integral part of the system and not as afterthought."},
                {src:img3, heading:"Cost Optimised", text:"Highly scalable, large-scale distributed clusters are typically the foundation for modern big data architectures, we build them to run and scale to save every penny."} ];

const data = [{heading:"Analyze the Business", text:"Understand data variety, velocity, and challenges with the current system. Common use cases include data archival, process offload, data lake implementation, unstructured data processing, and data warehouse modernization. We work with various teams to model the the problem and understand the budget.", }]

const expertise = [{heading:"Data hub", src:setting}, {heading:"Real Time Processing", src:clock},
{heading:"Data Security", src:lock}, {heading:"Model Automation", src:cycle},
{heading:"Cost Optimisation", src:euro}, {heading:"Cloud Native", src:cloud}];

const hero = {heading:"Big Data Architecture", text:"We design secure, fault tolerant and scalable Big Data solutions that work across various departments and teams.", 
text1:"Big data architecture is the foundation for big data analytics. The big data architecture framework serves as a reference blueprint for big data infrastructures and solutions, logically defining how big data solutions will work, the components that will be used, how information will flow, and security details. A good big data system is designed to handle the ingestion, processing, and analysis of data that is too large or complex for traditional database systems.",
text2:"The size of Big Data realm differs for organizations. For some, it can mean hundreds of gigabytes of data, while for others it means hundreds of terabytes. Size of data, need for advance analytics capabilities, users and the budget are some of the key factors that affect the big data architecture."}

import bg from "../../../assets/images/background_pattern.png"

---

<style>
    .top-sec {
		position: relative;
		z-index: 2;
	}

	.top-sec::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			198.24deg,
			rgba(2, 2, 2, 0) 19.25%,
			#121519 74.45%
		);
		z-index: 2;
	}


	.hero-section {
		font-family: "arimo";
    width: 100%;
    height: 100%;
    max-height: 110vh;
    position: relative;
	}

  .hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

	.hero-section * {
		z-index: 3;
        
	}
  .item{
      background-color: rgba(255,255,255, 0.3);
  }
  .hero-text{
    position: absolute;
    top: 70vh; left:0; right: 0;
    z-index:10;
    color: white;
    
    
  }
  .diff{
    position: relative;
  }
  .diff::before{
    position: absolute;
    top:0; right:0; bottom:0; left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    z-index: 10;
  }
  .cards{
    display: flex;
    align-items: stretch !important;
  }
  .background-style{
    background-image: url(/assets/images/background_pattern.png);
    background-repeat: no-repeat;
  }
  .icons{
    border-radius: 36px;
    background-color: rgba(255,255,255, 3%);
  }
</style>

<Layout>
    <main class="page-wrapper background-style" >
        <Navbar/>
        <section class="hero-section">
          <video src={frontmatter.hero_video}
          preload="auto"
          muted
          autoplay
          loop
          class="hero-video"
          />
  
          <div class="hero-text px-5">
            <h1  class="text-lg-start text-light fw-light fw-bold" style="font-size:60px; font-weight: bold;">
              {frontmatter.hero_title}
            </h1>
            <p class="fs-lg text-lg-start pb-3 pb-sm-0 pb-md-2 mb-4 mb-sm-5"
            style="font-size: 28px; max-width: 890px;">
              {frontmatter.hero_text}
            </p>
          </div>
        </section>
  
        <section style="display: flex; justify-content: center; margin-top:6rem; margin-bottom:6rem; "
         class="px-5">
          <div style="max-width:1296px;">
            <p style="font-size: 1rem; color:white">
              {frontmatter.p1_text}
            </p>
            <p style="font-size: 1rem; color:white">
              {frontmatter.p2_text}
            </p>
          </div>
        </section>
  
          
  
          <!-- key differentiators -->
        <section id="diff" class="container mt-md-3 mt-lg-2 mt-xl-4 mt-xxl-5 diff" data-bs-theme="dark">
          <h2 class="h1 text-center pt-3 pt-sm-4 pt-lg-5 pb-3 mb-3 mb-lg-4 mt-xl-3">Key Differentiators</h2>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 align-items-stretch
          " style="">
  
            <!-- Item -->
            <div class="col">
              <div class="card">
                
                  <div class=" bg-secondary rounded-5 py-2 py-lg-4 px-0">
                    <div class="card-body text-center">
                      <!-- <Image src={images[2].img1} alt="logo"  class="d-block text-primary mb-4 mx-auto" width="40" height="40"/> -->
                      <img src={frontmatter.card1_img} alt="img" class="d-block text-primary mb-4 mx-auto"  height="40"/>
                      <h3>{frontmatter.card1_heading}</h3>
                      <p class="card-text">{frontmatter.card1_text}</p>
                    </div>
                  </div>
                  
                
              </div>
            </div>
  
            <!-- Item -->
            <div class="col" >
                <div class="card">
                
                    <div class=" bg-secondary rounded-5 py-2 py-lg-4 px-0">
                      <div class="card-body text-center">
                        
                        <img src={frontmatter.card2_img} alt="logo"  class="d-block text-primary mb-4 mx-auto"  height="40"/>
                        <h3>{frontmatter.card2_heading}</h3>
                        <p class="card-text">{frontmatter.card2_text}</p>
                      </div>
                    </div>
                    
                  
                </div>
            </div>
  
            <!-- Item -->
            <div class="col">
                <div class="card">
                
                    <div class=" bg-secondary rounded-5 py-2 py-lg-4 px-0">
                      <div class="card-body text-center">
                        <img src={frontmatter.card3_img} alt="logo"  class="d-block text-primary mb-4 mx-auto" height="40"/>
                        <h3>{frontmatter.card3_heading}</h3>
                        <p class="card-text">{frontmatter.card3_text}</p>
                      </div>
                    </div>
                    
                  
                </div>
            </div>
          </div>
        </section>
  
  
        <!--DONE== How it works (Steps) from about-product.html-->
        <section class="overflow-hidden py-5 my-md-2 my-xl-4 my-xxl-5" data-bs-theme="dark">
          <div class="container py-2 py-sm-4 py-lg-5">
            <h2 class="h1 text-center pb-3 mb-3 mb-lg-4 mt-xxl-2">Our Approach</h2>
  
            <!-- Step 1-->
            <div class="row align-items-center position-relative pb-5 pb-lg-0 mb-1 mb-sm-2 mb-md-4 mb-lg-0">
              <div class="col-md-6 col-xl-5 offset-lg-1 order-md-2 pb-2 pb-md-0 mb-4 mb-md-0" data-aos="fade-left" data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
                
                <img class="d-none d-dark-mode-block" src={frontmatter.approach1_img} width="525" alt="Image">
              </div>
              <div class="col-md-6 col-lg-5 col-xl-4 offset-xl-1 order-md-1" data-aos="fade-right" data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
                <div class="pe-md-4 pe-lg-0">
                  
                  <h3 class="h2 mb-3 mb-lg-4">{frontmatter.approach1_heading}</h3>
                  <p class="pb-1 pb-lg-0 mb-4 mb-lg-5">{frontmatter.approach1_text}.</p>
                  
                </div>
              </div>
            </div>
  
            <!-- Arrow -->
            <div class="d-none d-lg-flex justify-content-center" data-aos="fade-in" data-aos-duration="500" data-aos-offset="250">
              <svg class="d-block text-primary" width="339" height="365" viewBox="0 0 339 365" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: -150px; margin-top: -140px; margin-bottom: -108px;">
                <path d="M324 291.371C120.111 291.37 240.756 58.7225 1.00032 73.2606" stroke="url(#arrow1)" stroke-width="2" stroke-linecap="round" stroke-dasharray="6 6"></path>
                <path d="M337.375 290.62C338.074 290.998 338.074 292.001 337.375 292.379L328.476 297.196C327.81 297.557 327 297.074 327 296.317L327 286.683C327 285.925 327.81 285.443 328.476 285.803L337.375 290.62Z" fill="currentColor"></path>
                <defs>
                  <linearGradient id="arrow1" x1="324" y1="291.5" x2="-2.99974" y2="72.4997" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="currentColor"></stop>
                    <stop offset="1" stop-color="currentColor" stop-opacity="0"></stop>
                  </linearGradient>
                </defs>
              </svg>
            </div>
  
            <!-- Step 2-->
            <div class="row align-items-center position-relative pb-5 pb-lg-0 mb-1 mb-sm-2 mb-md-4 mb-lg-0">
              <div class="col-md-6 col-xl-5 offset-xl-1 pb-2 pb-md-0 mb-4 mb-md-0" data-aos="fade-right" data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
                
                <img class="d-none d-dark-mode-block" src={frontmatter.approach2_img} width="473" alt="Image">
              </div>
              <div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1" data-aos="fade-left" data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
                <div class="ps-md-4 ps-lg-0">
                  
                  <h3 class="h2 mb-3 mb-lg-4">{frontmatter.approach2_heading}</h3>
                  <p class="pb-1 pb-lg-0 mb-4 mb-lg-5">{frontmatter.approach2_text}.</p>
                </div>
              </div>
            </div>
  
            <!-- Arrow -->
            <div class="d-none d-lg-flex justify-content-center" data-aos="fade-in" data-aos-duration="500" data-aos-offset="250">
              <svg class="d-block text-primary" width="263" height="275" viewBox="0 0 263 275" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-top: -60px; margin-left: -120px; margin-bottom: -80px;">
                <path d="M8.13678 249.647C7.47108 250.081 6.59001 249.602 6.59106 248.808L6.60444 238.689C6.60544 237.931 7.4158 237.45 8.08162 237.811L16.5478 242.408C17.2136 242.77 17.2512 243.712 16.6163 244.125L8.13678 249.647Z" fill="currentColor"></path>
                <path d="M261.961 37.8891C216.908 65.6243 128.226 135.486 133.916 193.05C141.029 265.005 265.134 173.468 173.666 148.634C89.2542 125.715 30.9125 210.547 13.9796 236.702" stroke="url(#arrow2)" stroke-width="2" stroke-linecap="round" stroke-dasharray="6 6"></path>
                <defs>
                  <linearGradient id="arrow2" x1="13.9797" y1="234.5" x2="276.704" y2="60.1939" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="currentColor"></stop>
                    <stop offset="1" stop-color="currentColor" stop-opacity="0"></stop>
                  </linearGradient>
                </defs>
              </svg>
            </div>
  
            <!-- Step 3-->
            <div class="row align-items-center position-relative">
              <div class="col-md-6 col-xl-5 offset-lg-1 order-md-2 d-md-flex justify-content-end pb-2 pb-md-0 mb-4 mb-md-0" data-aos="fade-left" data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
                
                <img class="d-none d-dark-mode-block" src={frontmatter.approach3_img} width="473" alt="Image">
              </div>
              <div class="col-md-6 col-lg-5 col-xl-4 offset-xl-1 order-md-1" data-aos="fade-right" data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
                <div class="pe-md-4 pe-lg-0">
                  
                  <h3 class="h2 mb-3 mb-lg-4">{frontmatter.approach3_heading}</h3>
                  <p class="pb-1 pb-lg-0 mb-4 mb-lg-5">{frontmatter.approach3_text}</p>
                  
                </div>
              </div>
            </div>
  
            <!-- Arrow -->
            <div class="d-none d-lg-flex justify-content-center" data-aos="fade-in" data-aos-duration="500" data-aos-offset="250">
              <svg class="d-block text-primary" width="339" height="365" viewBox="0 0 339 365" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-left: -150px; margin-top: -140px; margin-bottom: -108px;">
                <path d="M324 291.371C120.111 291.37 240.756 58.7225 1.00032 73.2606" stroke="url(#arrow1)" stroke-width="2" stroke-linecap="round" stroke-dasharray="6 6"></path>
                <path d="M337.375 290.62C338.074 290.998 338.074 292.001 337.375 292.379L328.476 297.196C327.81 297.557 327 297.074 327 296.317L327 286.683C327 285.925 327.81 285.443 328.476 285.803L337.375 290.62Z" fill="currentColor"></path>
                <defs>
                  <linearGradient id="arrow1" x1="324" y1="291.5" x2="-2.99974" y2="72.4997" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="currentColor"></stop>
                    <stop offset="1" stop-color="currentColor" stop-opacity="0"></stop>
                  </linearGradient>
                </defs>
              </svg>
            </div>
  
            <!-- Step 4-->
            <div class="row align-items-center position-relative pb-5 pb-lg-0 mb-1 mb-sm-2 mb-md-4 mb-lg-0">
              <div class="col-md-6 col-xl-5 offset-xl-1 pb-2 pb-md-0 mb-4 mb-md-0" data-aos="fade-right" data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
                
                <img class="d-none d-dark-mode-block" src={frontmatter.approach4_img} width="473" alt="Image">
              </div>
              <div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1" data-aos="fade-left" data-aos-duration="500" data-aos-offset="250" data-disable-parallax-down="md">
                <div class="ps-md-4 ps-lg-0">
                  
                  <h3 class="h2 mb-3 mb-lg-4">{frontmatter.approach4_heading}</h3>
                  <p class="pb-1 pb-lg-0 mb-4 mb-lg-5">{frontmatter.approach4_text}.</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <slot/>
  
        <!-- Features from landing-saas-v3.html-->
        <section class="container py-5 my-sm-2 my-md-4 my-lg-5" data-bs-theme="dark">
          <h2 class="h1 text-center pt-sm-3 mt-xxl-3 mx-auto" style="max-width: 40rem;">Our Expertise</h2>
          
          <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gy-3 gy-sm-4 gy-xl-5 gx-4 gx-md-5 pb-xxl-4 mb-sm-2 mb-lg-0 mb-xl-2">
            <div class="col" style="">
              <div class="text-center px-xxl-4 icons"  style=" padding-top:2rem;padding-bottom:2rem">
                <img src={frontmatter.expertise1_img} alt="image" class="d-inline-block mb-3 mb-md-4" height="50"/>
                <h3 class="h4 mb-2">{frontmatter.expertise1_heading}</h3>
              </div>
            </div>
            <div class="col" style="">
              <div class="text-center px-xxl-4 icons"  style=" padding-top:2rem;padding-bottom:2rem">
                <img src={frontmatter.expertise2_img} alt="image" class="d-inline-block mb-3 mb-md-4" height="50"/>
                <h3 class="h4 mb-2">{frontmatter.expertise2_heading}</h3>
              </div>
            </div>
            <div class="col" style="">
              <div class="text-center px-xxl-4 icons"  style=" padding-top:2rem;padding-bottom:2rem">
                <img src={frontmatter.expertise3_img} alt="image" class="d-inline-block mb-3 mb-md-4" height="50" />
                <h3 class="h4 mb-2">{frontmatter.expertise3_heading}</h3>
              </div>
            </div>
            <div class="col" style="">
              <div class="text-center px-xxl-4 icons"  style=" padding-top:2rem;padding-bottom:2rem">
                <img src={frontmatter.expertise4_img} alt="image" class="d-inline-block mb-3 mb-md-4" height="50"/>
                <h3 class="h4 mb-2">{frontmatter.expertise4_heading}</h3>
              </div>
            </div>
            <div class="col" style="">
              <div class="text-center px-xxl-4 icons"  style=" padding-top:2rem;padding-bottom:2rem">
                <img src={frontmatter.expertise5_img} alt="image" class="d-inline-block mb-3 mb-md-4" height="50"/>
                <h3 class="h4 mb-2">{frontmatter.expertise5_heading}</h3>
              </div>
            </div>
            <div class="col" style="">
              <div class="text-center px-xxl-4 icons" style=" padding-top:2rem;padding-bottom:2rem">
                <img src={frontmatter.expertise6_img} alt="image" class="d-inline-block mb-3 mb-md-4" height="50"/>
                <h3 class="h4 mb-2">{frontmatter.expertise6_heading}</h3>
              </div>
            </div>
          </div>
        </section>
  
        <ContactForm/>
  
  
  
      </main>
      
</Layout>


