---
import { Image } from "astro:assets";
import about1 from "../../assets/images/about1.png";
import about2 from "../../assets/images/about2.png";
import about3 from "../../assets/images/about3.png";
---

<style>
    section {
        background-image: url(../../assets/images/shoonye.png);
        background-repeat: repeat;
        /* width: 100%; */
    }
</style>

<section class="position-relative py-5">
    <div
        class="container position-relative z-2 pt-3 pt-md-4 pt-lg-5 mt-lg-2 mt-xl-4"
    >
        <div
            class="row align-items-center justify-content-center py-4 py-md-5 my-1 my-sm-3 my-md-0 my-xl-3"
        >
            <div
                class="col-11 col-sm-9 col-md-7 col-lg-6 offset-lg-1 order-md-2 pb-2 pb-sm-3 pb-md-0 mb-4 mb-md-0"
            >
                <div class="parallax" style="max-width: 636px;">
                    <div class="parallax-layer" data-depth="0">
                        <div class="ratio" style="--ar-aspect-ratio: 89.6%">
                        </div>
                    </div>
                    <div
                        class="parallax-layer"
                        style="padding-right: 24.2%;"
                        data-depth="0.1"
                    >
                        <Image
                            src={about1}
                            class="d-dark-mode-none position-relative rounded-4"
                            style="top: 27.5%; max-width: 482px; box-shadow: 0 12px 48px -8px rgba(189, 196, 221, .35);"
                            alt="Total users line chart"
                        />
                        <Image
                            src={about1}
                            class="d-none d-dark-mode-block position-relative rounded-4"
                            style="top: 27.5%; max-width: 482px; box-shadow: 0 12px 48px -8px rgba(0, 0, 0, .25);"
                            alt="Total users line chart"
                        />
                    </div>
                    <div
                        class="parallax-layer"
                        style="padding-left: 45.75%;"
                        data-depth="-0.12"
                    >
                        <Image
                            src={about2}
                            class="d-dark-mode-none position-relative rounded-4"
                            style="max-width: 345px; box-shadow: 0 0 48px -4px rgba(189, 196, 221, .35);"
                            alt="Traffic bar chart"
                        />
                        <Image
                            src={about2}
                            class="d-none d-dark-mode-block position-relative rounded-4"
                            style="max-width: 345px; box-shadow: 0 12px 48px -8px rgba(0, 0, 0, .35);"
                            alt="Traffic bar chart"
                        />
                    </div>
                    <div
                        class="parallax-layer"
                        style="padding-right: 7.547%; padding-left: 44.97%;"
                        data-depth="0.3"
                    >
                        <Image
                            src={about3}
                            class="d-dark-mode-none position-relative rounded-4"
                            style="top: 60.75%; max-width: 302px; box-shadow: 0 0 48px -4px rgba(189, 196, 221, .35);"
                            alt="Traffic donut chart"
                        />
                        <Image
                            src={about3}
                            class="d-none d-dark-mode-block position-relative rounded-4"
                            style="top: 60.75%; max-width: 302px; box-shadow: 0 -12px 48px -8px rgba(0, 0, 0, .35);"
                            alt="Traffic donut chart"
                        />
                    </div>
                </div>
            </div>
            <div
                class="col-md-5 col-xl-4 offset-xl-1 order-md-1 text-center text-md-start"
            >
                <h3 class="h2 mb-lg-4">Data Driven Innovation</h3>
                <p class="fs-lg pb-lg-2 mb-4">
                    Unleash the power of data in your organization to discover
                    obnubilated insights and make real time strategic decisions.
                    Connect the dots with seamless data integration to drive
                    innovation, save cost across the departments.
                    <br />
                    <br />
                    From complex analysis to stunning visualizations, our advanced
                    data processing and AI can help you extract valuable insights
                    and make data-driven decisions faster than ever before.
                </p>
                <a href="#" class="btn btn-outline-primary rounded-pill">
                    Learn more
                    <i class="ai-arrow-right fs-lg ms-2 me-n1"></i>
                </a>
            </div>
        </div>
    </div>
</section>
