---
import { getEntry } from "astro:content";

const Data = await getEntry("home", "home");
const features = Data.data.features;
const cards = features.cards;

import { Image } from "astro:assets";
import icon1 from "/assets/icons/vol_vel_var.png";
import icon2 from "/assets/icons/cost_management.png";
import icon3 from "/assets/icons/security.png";
import icon4 from "/assets/icons/selection.png";
import icon5 from "/assets/icons/changing_landscape.png";
import icon6 from "/assets/icons/specialized_hiring.png";
---

<style>
    .features {
        position: relative;
        background-image: url(/assets/images/star_links.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .container {
        position: relative;
    }

    .features::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            180deg,
            #121519 3.77%,
            rgba(26, 26, 26, 0) 52.82%,
            #121519 94.74%
        );
    }

    .item div {
        background-color: #121519;
        border-radius: 2rem;
        box-shadow: 0px 2px 10px 0px #7b7b7b7a;
        width: 100%;
        height: 100%;
    }
</style>

<section class="features">
    <div class="container py-5 mt-n3 mt-sm-n2 mt-md-0 my-lg-3 my-xl-4 my-xxl-5">
        <h2
            class="text-center pt-md-3 pt-lg-4 pb-xxl-2 mt-xl-3 mb-4 mb-sm-5 text-white"
        >
            {features.title}
        </h2>
        <div
            class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gx-4 gy-4 pb-md-4 pb-lg-5 mb-2 mb-lg-0 mb-xxl-2"
        >
            <!-- Item -->
            <div class="col item text-center text-sm-start">
                <div class="p-4">
                    <Image
                        src={icon1}
                        alt="icon"
                        class="d-inline-block mb-3 mb-lg-4"
                    />
                    <h3 class="h5 mb-2 text-white">{cards[0].title}</h3>
                    <p class="mb-0 text-white opacity-70">
                        {cards[0].info}
                    </p>
                </div>
            </div>

            <!-- Item -->
            <div class="col item text-center text-sm-start">
                <div class="p-4">
                    <Image
                        src={icon2}
                        alt="icon"
                        class="d-inline-block mb-3 mb-lg-4"
                    />
                    <h3 class="h5 mb-2 text-white">{cards[1].title}</h3>
                    <p class="mb-0 text-white opacity-70">
                        {cards[1].info}
                    </p>
                </div>
            </div>

            <!-- Item -->
            <div class="col item text-center text-sm-start">
                <div class="p-4">
                    <Image
                        src={icon3}
                        alt="icon"
                        class="d-inline-block mb-3 mb-lg-4"
                    />
                    <h3 class="h5 mb-2 text-white">{cards[2].title}</h3>
                    <p class="mb-0 text-white opacity-70">
                        {cards[2].info}
                    </p>
                </div>
            </div>

            <!-- Item -->
            <div class="col item text-center text-sm-start">
                <div class="p-4">
                    <Image
                        src={icon4}
                        alt="icon"
                        class="d-inline-block mb-3 mb-lg-4"
                    />
                    <h3 class="h5 mb-2 text-white">{cards[3].title}</h3>
                    <p class="mb-0 text-white opacity-70">
                        {cards[3].info}
                    </p>
                </div>
            </div>

            <!-- Item -->
            <div class="col item text-center text-sm-start">
                <div class="p-4">
                    <Image
                        src={icon5}
                        alt="icon"
                        class="d-inline-block mb-3 mb-lg-4"
                    />
                    <h3 class="h5 mb-2 text-white">{cards[4].title}</h3>
                    <p class="mb-0 text-white opacity-70">
                        {cards[4].info}
                    </p>
                </div>
            </div>

            <!-- Item -->
            <div class="col item text-center text-sm-start">
                <div class="p-4">
                    <Image
                        src={icon6}
                        alt="icon"
                        class="d-inline-block mb-3 mb-lg-4"
                    />
                    <h3 class="h5 mb-2 text-white">{cards[5].title}</h3>
                    <p class="mb-0 text-white opacity-70">
                        {cards[5].info}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
