---
import { getEntry } from "astro:content";

const Data = await getEntry("home", "home");
const tech = Data.data.tech;
const testimonials = Data.data.testimonials;
---

<style>
    .swiper-slide {
        width: 12.25rem;
        height: 6.25rem;
        overflow: hidden;
    }

    .bg-white {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        padding: 1.1rem 2.7rem 1.1rem 2.7rem;
        overflow: hidden;

        img {
            height: 80%;
        }
    }

    @media (max-width: 768px) {
        .swiper-slide {
            width: 11rem;
            height: 5rem;
        }

        .bg-white {
            padding: 1rem 2rem 1rem 2rem;
        }
    }

    @media (min-width: 1600px) {
        .swiper-slide {
            height: 7rem;
        }
    }
</style>

<script>
    import Swiper from "swiper/bundle";
    import "swiper/css/navigation";
    import "swiper/css/pagination";
    import "swiper/css/bundle";

    const carousels = Array.from(document.querySelectorAll(".swiper"));

    carousels.forEach((value, index) => {
        let options;
        const htmlValueElement = value as HTMLElement;
        if (htmlValueElement.dataset.swiperOptions != undefined)
            options = JSON.parse(htmlValueElement.dataset.swiperOptions);

        const swiper = new Swiper(htmlValueElement, options); // eslint-disable-line no-undef

        // Binded content
        if (options.bindedContent) {
            swiper.on("activeIndexChange", (e: any) => {
                const targetItem = document.querySelector(
                    e.slides[e.activeIndex].dataset.swiperBinded,
                );
                const previousItem = document.querySelector(
                    e.slides[e.previousIndex].dataset.swiperBinded,
                );

                previousItem.classList.remove("active");
                targetItem.classList.add("active");
            });
        }
    });
</script>

<section class="tech">
    <div class="pb-5 pt-2 pt-sm-3 pt-md-4 pt-lg-5 my-xl-3 my-xxl-5">
        <div class="container pb-4 mb-2 mb-lg-3">
            <h2 class="h1 text-center text-white">
                {tech.title}
            </h2>
            <p class="text-center mb-0 text-white opacity-70">
                {tech.desc}
            </p>
        </div>
        <div
            class="swiper pb-4"
            data-swiper-options={`{
            "spaceBetween": 24,
            "loop": true,
            "grabCursor": false,
            "centeredSlides": true,
            "autoplay": {
              "delay": 0,
              "disableOnInteraction": false
            },
            "freeMode": true,
            "speed": 10000,
            "freeModeMomentum": false,
            "breakpoints": {
              "0": { "slidesPerView": 2 },
              "400": { "slidesPerView": 3 },
              "600": { "slidesPerView": 4 },
              "1000": { "slidesPerView": 5 },
              "1200": { "slidesPerView": 6 },
              "1400": { "slidesPerView": 6 },
              "1600": { "slidesPerView": 6 }
            }
          }`}
        >
            <div
                class="swiper-wrapper"
                style="transition-timing-function: linear !important;"
            >
                {
                    tech.slider_1.map((card) => (
                        <div class="swiper-slide">
                            <div class="bg-white rounded-4">
                                <img
                                    class="d-block d-dark-mode-block mx-auto"
                                    src={card}
                                    width="196"
                                    alt="Logo"
                                />
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
        <div
            class="swiper"
            dir="rtl"
            data-swiper-options={`{
            "spaceBetween": 24,
            "loop": true,
            "grabCursor": false,
            "centeredSlides": true,
            "autoplay": {
              "delay": 0,
              "disableOnInteraction": false
            },
            "freeMode": true,
            "speed": 8500,
            "freeModeMomentum": false,
            "breakpoints": {
                "0": { "slidesPerView": 2 },
                "400": { "slidesPerView": 3 },
                "600": { "slidesPerView": 4 },
                "1000": { "slidesPerView": 5 },
                "1200": { "slidesPerView": 6 },
                "1400": { "slidesPerView": 6 },
                "1600": { "slidesPerView": 6 }
            }
          }`}
        >
            <div
                class="swiper-wrapper"
                style="transition-timing-function: linear !important;"
            >
                {
                    tech.slider_2.map((card) => (
                        <div class="swiper-slide">
                            <div class="bg-white rounded-4">
                                <img
                                    class="d-block d-dark-mode-block mx-auto"
                                    src={card}
                                    width="196"
                                    alt="Logo"
                                />
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>

    <!-- testimonials -->
    <div
        class="container position-relative z-1 py-5 mt-n3 mt-sm-0 mb-md-3 my-lg-3 my-xl-4 my-xxl-5"
    >
        <div class="row py-md-4 py-lg-5">
            <div class="col-md-9 col-lg-7 order-md-2">
                <!-- Swiper slider -->
                <div
                    class="swiper"
                    data-swiper-options={`{
                        "spaceBetween": 40,
                        "loop": true,
                        "bindedContent": true,
                        "autoHeight": true,
                        "pagination": {
                            "el": ".testimonials-count",
                            "type": "fraction"
                        },
                        "navigation": {
                            "prevEl": "#prev-testimonial",
                            "nextEl": "#next-testimonial"
                        }
                    }`}
                >
                    <div class="swiper-wrapper">
                        {
                            testimonials.map((testimonial) => (
                                <div
                                    class="swiper-slide"
                                    data-swiper-binded={testimonial.number}
                                >
                                    <div class="d-flex d-md-none pt-3 mb-3">
                                        <i class="ai-quotes d-md-none text-primary display-3 mt-n2" />
                                        <div class="ps-3">
                                            <h3 class="text-white h5 mb-0">
                                                {testimonial.name}
                                            </h3>
                                            <p class="text-body-primary mb-0">
                                                {testimonial.designation}
                                            </p>
                                        </div>
                                    </div>
                                    <h2 class="mb-lg-4 text-white">
                                        {testimonial.title}
                                    </h2>
                                    <p class="lead mb-0 text-white opacity-70 z-1">
                                        {testimonial.desc}
                                    </p>
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-3 offset-lg-1 order-md-1 mt-n3">
                <i
                    class="ai-quotes d-none d-md-block text-primary ms-n2 mb-1"
                    style="font-size: 150px;"></i>

                <!-- Contnetn binded to slider (on screens > 768px) -->
                <div class="binded-content h-auto d-none d-md-block">
                    <div class="binded-item h-auto active" id="testimonial-1">
                        <h3 class="h5 mb-1 text-white">Lilia Bocouse</h3>
                        <p class="text-body-primary mb-0">Head of Marketing</p>
                    </div>
                    <div class="binded-item h-auto" id="testimonial-2">
                        <h3 class="h5 mb-1 text-white">Robert Fox</h3>
                        <p class="text-body-primary mb-0">
                            Marketing Coordinator
                        </p>
                    </div>
                    <div class="binded-item h-auto" id="testimonial-3">
                        <h3 class="h5 mb-1 text-white">Jenny Wilson</h3>
                        <p class="text-body-primary mb-0">CEO, Co-Founder</p>
                    </div>
                </div>

                <!-- Swiper controls (Prev / Next) -->
                <div class="d-flex align-items-center pb-2 pb-md-0 pt-4 mt-3">
                    <button
                        class="btn btn-icon btn-sm btn-outline-primary rounded-circle me-3"
                        type="button"
                        id="prev-testimonial"
                        aria-label="Prev"
                    >
                        <i class="ai-arrow-left"></i>
                    </button>
                    <div
                        class="testimonials-count fw-medium flex-shrink-0 text-center"
                        style="width: 2.5rem;"
                    >
                    </div>
                    <button
                        class="btn btn-icon btn-sm btn-outline-primary rounded-circle ms-3"
                        type="button"
                        id="next-testimonial"
                        aria-label="Next"
                    >
                        <i class="ai-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
