---
const { title, url, description, image } = Astro.props;
---

<style>
  a {
    color: white;
  }
</style>

<article class="row g-0 border-0 mb-4">
  <a
    class="col-sm-5 bg-repeat-0 bg-size-cover bg-position-center rounded-5"
    href={url}
    style={{ backgroundImage: `url(${image.url})`, minHeight: " 14rem" }}
    aria-label="Post image"></a>
  <div class="col-sm-7">
    <div class="pt-4 pb-sm-4 ps-sm-4 pe-lg-4 text-white">
      <h3 class="text-white">
        <a href={url}>{title}</a>
      </h3>
      <p class="d-sm-none d-md-block text-white">
        {description}
      </p>
      <div class="d-flex flex-wrap align-items-center mt-n2">
        <a
          class="nav-link text-body-secondary fs-sm fw-normal p-0 mt-2 me-3"
          href="#"
        >
          6
          <i class="ai-share fs-lg ms-1"></i>
        </a>
        <a
          class="nav-link text-body-secondary fs-sm fw-normal d-flex align-items-end p-0 mt-2"
          href="#"
        >
          12
          <i class="ai-message fs-lg ms-1"></i>
        </a>
        <span class="fs-xs opacity-20 mt-2 mx-3">|</span>
        <span class="fs-sm text-body-secondary mt-2">8 hours ago</span>
        <span class="fs-xs opacity-20 mt-2 mx-3">|</span>
        <a class="badge text-nav fs-xs border mt-2 text-white" href="#"
          >Business</a
        >
      </div>
    </div>
  </div>
</article>
