---
const { title, url, description, image } = Astro.props;

const title1 = (title.length>45)?title.substr(0, 45).trim()+"..":title;
const desc = (description.length>100)?description.substr(0, 100).trim()+"..":description;
---

<style>
  a {
    color: white;
  }
</style>

<article class="row g-0 border-0 mb-4">
  <a
    class="col-sm-5 bg-repeat-0 bg-size-cover bg-position-center rounded-5"
    href={url}
    style={{ backgroundImage: `url(${image})`, minHeight: " 14rem" }}
    aria-label="Post image"></a>
  <div class="col-sm-7">
    <div class="pt-4 pb-sm-4 ps-sm-4 pe-lg-4 text-white">
      <h3 class="text-white">
        <a href={url}>{title1}</a>
      </h3>
      <p class="d-sm-none d-md-block text-white">
        {desc}
      </p>
      
    </div>
  </div>
</article>
