---
import Layout from "./Layout.astro";
import Navbar from "../components/common/Navbar.astro";
const { frontmatter } = Astro.props;

import '../styles/container.css'
---

<style>
  a {
    color: white;
  }
  .page-wrapper{
    padding-top: 4.56rem;
  }
  
   
  .white-70{
    color:rgba(255,255,255,70%);
  }
  .white-90{
    color:rgba(255,255,255,90%)
  }
  .key{
    font-size: 1rem;
    font-weight: 700;
  }
  .input{
    border: solid 1px white;
    border-radius: 8px;
    color:white;
  }
</style>


<Layout>
  <Navbar />
  <main
    class="page-wrapper"
    style="background-image: url(/assets/images/background-pattern.png);"
  >
    <section class="container pt-5 mt-5">
      <div class="row">
        <div class="col-lg-9 col-xl-8 pe-lg-4 pe-xl-0 pb-5">
          <!-- Post title + post meta -->
          <h1 class="pb-2 pb-lg-3 text-white" style="font-size: 2.5rem;">
            {frontmatter.title}
          </h1>
          <div
            class="d-flex flex-wrap align-items-center justify-content-between border-bottom mb-4 text-white"
          >
            <div class="d-flex align-items-center mb-4 me-4">
              <span class="fs-sm me-2 white-70">By:</span>
              <a
                class="nav-link position-relative fw-semibold p-0 white-90"
                href="#author"
                data-scroll
                data-scroll-offset="80"
              >
                {frontmatter.author}
                <span
                  class="d-block position-absolute start-0 bottom-0 w-100"
                  style="background-color: currentColor; height: 1px;"></span>
              </a>
            </div>
            <div class="d-flex align-items-center mb-4">
              <span class="fs-sm me-2">Share post:</span>
              <div class="d-flex">
                <a
                  class="nav-link p-2 me-2 text-white"
                  href="#"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Instagram"
                  aria-label="Instagram"
                >
                  <i class="ai-instagram"></i>
                </a>
                <a
                  class="nav-link p-2 me-2 text-white"
                  href="https://www.facebook.com/sharer/sharer.php?u=http%3A//localhost%3A4321/posts/post-1"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Facebook"
                  aria-label="Facebook"
                >
                  <i class="ai-facebook"></i>
                </a>
                <a
                  class="nav-link p-2 me-2 text-white"
                  href="#"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Telegram"
                  aria-label="Telegram"
                >
                  <i class="ai-telegram fs-sm"></i>
                </a>
                <a
                  class="nav-link p-2 text-white"
                  href="#"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="X"
                  aria-label="X"
                >
                  <i class="ai-x"></i>
                </a>
              </div>
            </div>
          </div>

          <!-- Post content -->
          <p class="fs-lg pt-2 pt-sm-3 white-70" style="font-size: 1.125rem;">
            {frontmatter.description}

          </p>

          <div id="content">
            <slot/>
          </div>
          
          

          <!-- Tags -->
          <div class="d-flex flex-wrap pb-5 pt-3 pt-md-4 pt-xl-5 mt-xl-n2">
            <h3 class=" py-1 mb-0 me-4 text-white" style="font-size: 1rem; font-weight:400">Relevant tags:</h3>
            {
              frontmatter.tags.map((tag:any)=>{
                return (
                <a class="nav-link fs-sm py-1 px-0 me-3 text-white" href="#" style="font-size:0.875rem; font-weight:700;">
                  <span class="">#</span>{tag}
                </a>
                )
              })
            }
          </div>

          <!-- Author widget -->
          <div class="border-top border-bottom py-4" id="author">
            <div class="d-flex align-items-start py-2">
              <img
                class="d-block rounded-circle mb-3"
                src="/assets/img/avatar/04.jpg"
                width="56"
                alt="Author image"
              />
              <div class="d-md-flex w-100 ps-4">
                <div style="max-width: 26rem;">
                  <h3 class="mb-2 text-white" style="font-size:1.25rem; font-weight: 400;">{frontmatter.author}</h3>
                  <p class="fs-sm mb-0 white-700" style="font-size: 0.875rem; font-weight: 400;">
                    {frontmatter.author_desc}
                  </p>
                </div>
                <div class="pt-4 pt-md-0 ps-md-4 ms-md-auto text-white">
                  <h3 class="h5 text-white">Share post:</h3>
                  <div class="d-flex">
                    <a
                      class="nav-link p-2 me-2 text-white"
                      href="#"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Instagram"
                      aria-label="Instagram"
                    >
                      <i class="ai-instagram"></i>
                    </a>
                    <a
                      class="nav-link p-2 me-2 text-white"
                      href="#"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Facebook"
                      aria-label="Facebook"
                    >
                      <i class="ai-facebook"></i>
                    </a>
                    <a
                      class="nav-link p-2 me-2 text-white"
                      href="#"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Telegram"
                      aria-label="Telegram"
                    >
                      <i class="ai-telegram fs-sm"></i>
                    </a>
                    <a
                      class="nav-link p-2 text-white"
                      href="#"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="X"
                      aria-label="X"
                    >
                      <i class="ai-x"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          

          <div class="giscus pt-5 pb-4 border-bottom" >

          </div>

          

          <!-- Subscription -->
            <section
            class="mb-2 mb-md-3 mb-xl-4 py-4 border-top mt-4"
            data-bs-theme="dark"
          >
            <div
              class="position-relative bg-dark rounded-5 overflow-hidden p-md-5 p-4"
            >
              <div
                class="position-absolute top-0 start-0 w-100 h-100"
                style="background-color: rgba(255, 255, 255, .03);"
              >
              </div>
              <div class="position-relative p-xl-2 p-md-2 px-sm-3">
                <h2 class="h1 pb-md-4 pb-3 mt-n2" style="font-size: 2.5rem;">
                  Stay up to date with important news!
                </h2>
                <div class="row gy-md-5 gy-4 gx-xl-5">
                  <div class="col-lg-12">
                    <div
                      class="row row-cols-sm-3 row-cols-2 gy-lg-4 gy-3 gx-xl-4 gx-sm-3 gx-2"
                    >
                      <div class="col">
                        <div class="form-check mb-0">
                          <label
                            class="form-check-label fs-base fw-medium"
                            for="advert-updates">Advertising Updates</label
                          >
                          <input
                            class="form-check-input"
                            id="advert-updates"
                            type="checkbox"
                            checked
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check mb-0">
                          <label
                            class="form-check-label fs-base fw-medium"
                            for="newsletter">Daily Newsletter</label
                          >
                          <input
                            class="form-check-input"
                            id="newsletter"
                            type="checkbox"
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-check mb-0">
                          <label
                            class="form-check-label fs-base fw-medium"
                            for="week-in-review">Week in Review</label
                          >
                          <input
                            class="form-check-input"
                            id="week-in-review"
                            type="checkbox"
                          />
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div class="input-group rounded">
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Your email"
                      />
                      <button class="btn btn-primary rounded-pill" type="button"
                        >Subscribe</button
                      >
                    </div>
                    <div class="form-text mt-3 fs-sm">
                      * Yes, I agree to the <a href="#" style="color:#2FB7B8">terms</a> and 
                      <a href="#" style="color:#2FB7B8"
                        >privacy policy</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>

        <!-- Sidebar (offcanvas on sreens < 992px) -->
        <aside class="col-lg-3 offset-xl-1">
          <div class="offcanvas-lg offcanvas-end" id="sidebar" style="height: 100%;">
            <div class="offcanvas-header">
              <h4 class="offcanvas-title">Sidebar</h4>
              <button
                class="btn-close ms-auto"
                type="button"
                data-bs-dismiss="offcanvas"
                data-bs-target="#sidebar"
                aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" style=" height:100%;">
              <!-- Popular posts -->
              <div class="offcanvas-body" style="height: 100%;">
                <!-- Search box -->

                <!-- Category links -->
                <div
                  class="col contact-div offset-xxl-1 pt-sm-3 sticky-top"
                  style="margin-left: -50px; z-index:1; top:7rem;"
                >
                  <!-- Contact form -->
                  <div
                    class="card contact-form
                  border-0
                  py-4
                  px-xxl-4"
                    style="background-color: #30BABA;border-radius: 15px;"
                  >
                    <form class="card-body" data-bs-theme="dark">
                      <h2
                        class="card-title text-white text-center pb-2 pb-xxl-3"
                        style="font-size: 1.5rem; font-weight: 700;"
                      >
                        30 mins FREE Consultation
                      </h2>
                      <div class="mb-3">
                        <label class="form-label fs-base key" for="name">
                          Your Name
                        </label>
                        <input
                          class="form-control form-control-sm input" 
                          type="text"
                          placeholder="John Doe"
                          required
                          id="name"
                        />
                      </div>
                      <div class="mb-3">
                        <label class="form-label fs-base key" for="company">
                          Company Name
                        </label>
                        <input
                          class="form-control form-control-sm input"
                          type="text"
                          placeholder="Your company name"
                          required
                          id="company"
                        />
                      </div>
                      <div class="mb-3">
                        <label class="form-label fs-base key" for="email">
                          Email address
                        </label>
                        <input
                          class="form-control form-control-sm input"
                          type="email"
                          placeholder="Email address"
                          required
                          id="email"
                        />
                      </div>
                      <div class="mb-3">
                        <label class="form-label key" for="date-time-picker"
                          >Date and time</label
                        >
                        <div class="position-relative">
                          <input
                            class="form-control form-control-sm date-picker pe-5 input"
                            type="text"
                            placeholder="Choose date/time"
                            data-datepicker-options='{"enableTime": true, "altInput": true, "altFormat": "F j, Y H:i", "dateFormat": "Y-m-d H:i"}'
                            id="date-time-picker"
                          />
                          <i
                            class="ai-calendar position-absolute top-50 end-0 translate-middle-y fs-lg text-white opacity-80 me-3"
                          ></i>
                        </div>
                      </div>
                      <div
                        class="d-flex flex-column flex-sm-row flex-lg-column flex-xxl-row align-items-center justify-content-center justify-content-lg-start pt-3 pt-xxl-4"
                      >
                        <button
                          class="btn book-btn w-100 w-sm-auto w-lg-100 w-xxl-200 me-sm-3 me-lg-0 me-xxl-3"
                          style=" background-color:white; color:#30BABA; border-radius: 8px;"
                          type="submit">Book now</button
                        >
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
        

        
        <!-- Sidebar toggle button -->
          <button
          class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#sidebarBlog"
        >
          <i class="ai-layout-column me-2"></i>
          Sidebar
        </button>

      </div>
    </section>
  </main>
</Layout>

<script src="https://giscus.app/client.js"
        data-repo="Digital-Back-Office/website"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzNTI2NzY3MTA="
        data-category="website-blog"
        data-category-id="DIC_kwDOFQVrZs4CdzGl"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
