---
import Footer from "../components/common/Footer.astro";
import "aos/dist/aos.css";
import "../styles/global.css";
import '../styles/container.css'

export interface Props {
  title?: string;
  description?: string;
  preview_image?:string;
}

const {
  title = "Digital Back Office",
  description = "We deliver Business Efficiency; We love data!",
  preview_image = "/preview.jpg"
} = Astro.props;

const og_description = description.length>200?description.substring(0, 200):description;
---

<script src="/assets/js/theme.min.js" is:inline></script>
<script src="/src/scripts/aos-init.js"></script>
<script src="/src/scripts/navbar.js"></script>
<script src="/src/scripts/chat-bot.js"></script>
<script src="/src/scripts/cookie-consent.js"></script>

<html lang="en" data-bs-theme="dark">
  <head>
    <!-- Google tag (gtag.js) -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-0BZVVEWYEV"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-0BZVVEWYEV');
    </script>
    <!-- Google Tag Manager -->
    <script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P7HC3N5L');</script>
    <!-- End Google Tag Manager -->
    <script src="https://t.contentsquare.net/uxa/96d450d7e9094.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={og_description} />
    <meta property="og:image" content={preview_image} />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.0/dist/cookieconsent.css"
    />
    <link rel="stylesheet" href="/assets/css/theme.min.css" />
    <link rel="stylesheet" href="/assets/icons/around-icons.min.css" />
    <!-- <link rel="stylesheet" href="/src/styles/container.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="background-color: black;">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P7HC3N5L"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLJ9M4LT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      
    <slot />
    <Footer />
  </body>
</html>